# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/

title: MS pianos
tagline: accordeur / restaurateur de piano
email: sarrazy.mathieu@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Contrairement aux autres instruments à cordes, le piano demande que l'accord 
  soit fait par un professionnel. Mon parcours est quelque peu atypique, j’ai 
  eu besoin de trouver du manuel et du mouvement dans ma profession, de me recentrer 
  sur des valeurs plus simples et artisanales. 
  Un travail plus humain et plus riche de sens. 

baseurl: "/mspianos" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
# github_username:  jekyll
tracking:
  matomo:
    trackerUrl: piwik.p2p.legal/
    siteId: 13
    
# devtools: true

collections:
  - subjects


# Build settings
markdown: kramdown
remote_theme: devingfx/blox-theme-jekyll@dev
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README*

defaults:
  - scope:
      # path: ""
      type: pages
    values:
      layout: blox
      header:
        topbar:
          - phone: "[+336 95 06 31 89](tel:+336 95 06 31 89)"
          - envelope: "[contact@mspianos.fr](mailto:contact@mspianos.fr)"
          - geo-alt: Alpes maritimes / Var / Drôme
        mode: fixed-top
        # offset: 500px
        logo:
          text: MS pianos
          # image: 
          url: "./#"
        nav:
          align: right
  